# Backend
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.env

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# Data files (не коммитить)
data/*.xlsx

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
