@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 237, 237, 237;
  --background-start-rgb: 29, 29, 29;
  --background-end-rgb: 29, 29, 29;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#__next {
  height: 100%;
  width: 100%;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2F2F2F;
}

::-webkit-scrollbar-thumb {
  background: #E49E00;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C88A00;
}

